.movieDetail>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem;
    width: 65%;
    margin: 1rem auto;
}

.movieDetail>div img {
    width: 45%;
}

.movieDetail h2 {
    font-size: 3rem;
    -webkit-text-stroke: 2px #F45454;
}

.movieDetail span {
    -webkit-text-stroke: 1px #F45454;
}

.movieDetail h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.movieDetail p {
    font-size: 1rem;
    margin: 1rem 0;
}

@media screen and (max-width: 900px) {
    .movieDetail > div {
        flex-direction: column;
        width: 95%;
    }

    .movieDetail>div img {
        width: 100%;
    }
}