header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #182e33;
}

header img {
    width: 8rem;
}

header input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: #FFC545;
    background-color: #F45454;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 30%;
    font-family: "CALORU";
}

header input::placeholder {
    color: #FFC545;
    font-family: "CALORU";
}

@media screen and (max-width: 700px) {
    header input {
        width: 60%;
        height: 70%;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
    
}