@font-face {
    font-family: "CALORU";
    src: url("/font/caloru-black.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "CALORU";
    font-weight: 900;
    color: #FFC545;
    background-image: url("/img/duo-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center -9rem;
    background-size: 150%;
}

@media screen and (max-width: 700px) {
    body {
        background: none;
        background-color: #000000;
    }
}